<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand mb-0 h1" href="#">Reminder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <form class="form-inline mr-2">
      <div class="input-group">
        <input type="text" class="form-control" 
          placeholder="Procure aqui por um título...">
      </div>
    </form>
    <button type="button" (click)="menuButtonClick()" class="btn btn-danger">Novo lembrete</button>
  </div>
</nav>