<app-fixed-menu [badgeCount]="10" (newReminder)="openModal(template)" (search)="searchByTitle($event)"></app-fixed-menu>

<div class="d-flex" 
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()">
  <div class="col-9">
    <div class="row" style="margin-top: 4.5rem">
      <div class="container mt-5" *ngIf="selector.Title && stickyNotes.length < 1">
        <h1 class="text-muted">=/ Nenhum item encontrado para <b class="font-weight-bold">{{ selector.Title }}...</b></h1>
      </div>
      <div *ngFor="let item of stickyNotes" class="col-md-4" [hidden]="item.expired && !showExpired">
        <app-reminder-card [reminder]="item"></app-reminder-card>
      </div>
    </div>
  </div>
  <app-side-menu (changeOrderBy)="changeOrderBy($event)" (changeOrdinate)="changeOrdinate($event)" [showExpired]="showExpired" (changeCheckExpired)="showExpired = !showExpired"></app-side-menu>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Novo lembrete</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (submit)="save()" [formGroup]="formGroup">
    <div class="modal-body">
      <div class="form-group">
        <label>Título</label>
        <input 
          type="text" 
          autocomplete="off" 
          formControlName="title" 
          [(ngModel)]="reminder.title" 
          class="form-control">
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <textarea 
          formControlName="description" 
          [(ngModel)]="reminder.description"
          class="form-control" rows="5">
        </textarea>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="">Data</label>
          <input type="text"
            autocomplete="off"
            (change)="reminder.prepareDateString()"
            formControlName="day" 
            [(ngModel)]="reminder.day"
            class="form-control"
            [bsConfig]="bsConfig"
            bsDatepicker>
        </div>
        <div class="form-group col">
          <label for="">Hora</label>
          <timepicker 
            formControlName="time" 
            (change)="reminder.prepareDateString()"
            [(ngModel)]="reminder.time"
            [showMeridian]="false" 
            [showSpinners]="false">
          </timepicker>
        </div>
      </div>
      <div class="form-group">
        <label>Responsável</label>
        <input 
          type="text" 
          formControlName="sponsor" 
          [(ngModel)]="reminder.sponsor"
          autocomplete="off" 
          class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()" type="button" class="btn btn-secondary">Voltar</button>
      <button type="submit" class="btn btn-danger"[disabled]="!formGroup.valid">Salvar</button>
    </div>
  </form>
</ng-template>

