<div id="side-menu" class="col-3">
  <div style="margin-top: 4.5rem">
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" [checked]="showExpired" (change)="changeShowExpired()" class="custom-control-input " id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Exibir vencidos</label>
      </div>
    </div>
    <div class="form-group">
      <label>Ordenar por:</label>
      <select (change)="changeField($event)" class="form-control mb-2" name="">
        <option value="Date">Data</option>
        <option value="Title">Título</option>
      </select>
      <select (change)="changeOrder($event)" class="form-control mb-2">
        <option value="ASC">Crescente</option>
        <option value="DESC">Decrescente</option>
      </select>
    </div>
  </div>
</div>